@define-color background-color #2C2C2E70;
@define-color border-color     #5E5E5E;
@define-color label            #FFFFFF;
@define-color image            #FFFFFF;
@define-color progress         #8E8E93;

window {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}
.osd,
#osd,
osd {
  background-color: alpha(@background-color, 0.9);
  border: 2px solid @border-color;
  border-radius: 10px;
  box-shadow: none;
}

image {
  color: @image;
  -gtk-icon-size: 48px;
  margin: 0 16px 0 0;
}

label {
  color: @label;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

progressbar {
  border-radius: 0;
  padding-bottom: 8px;
  margin: 8px 0 0 0;
  min-height: 16px;
  min-width: 200px;
}

progressbar > trough {
  background: alpha(@border-color, 0.15);
  border-radius: 0;
  border: none;
  min-height: 16px;
}

progressbar > trough > progress {
  background: linear-gradient(90deg, @progress, #5E5E5E, #2C2C2E);
  border-radius: 0;
  border: none;
  min-height: 16px;
}

progressbar trough {
  background: alpha(@border-color, 0.15);
  border-radius: 0;
  border: none;
  min-height: 16px;
}

progressbar progress {
  background: linear-gradient(90deg, @progress, #5E5E5E, #2C2C2E);
  border-radius: 0;
  border: none;
  min-height: 16px;
}
